:root
{
    background-color:black;
}

#Black-btn
{
    color: white;
    background-color:black;
    font-weight:bold;
}
#Blue-btn
{
    color:white;
    background-color:blue;
    font-weight:bold;
}
#Green-btn
{
    color:white;
    background-color:green;
    font-weight:bold;
}
#Orange-btn
{
    color:black;
    background-color:orange;
    font-weight:bold;
}
#Silver-btn
{
    color:black;
    background-color:silver;
    font-weight:bold;
}

<!--This doesn't work, orz.-->
.navbar 
{
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

