.body
{
    background-color:black;
}

.navbar-btn
{
 
font-weight:bold;
}

.color-btns
{
    font-weight:bold;
    margin-right:5px;
}
#Black-btn
{
    color: white;
    background-color:black;
}
#Blue-btn
{
    color:white;
    background-color:blue;
}
#Green-btn
{
    color:white;
    background-color:green;
}
#Orange-btn
{
    color:black;
    background-color:orange;
}
#Silver-btn
{
    color:black;
    background-color:silver;
}

#AlarmTime
{
    display:flex;
    justify-content:center;
    /* color:white; 
    */
}
